<div class="container my-5">
    <div class="card">
        <div class="row mt-3">
            <h1 class="text-center">IT ASSETS ISSUING FORM</h1>
        </div>
        <div class="row text-center">
            <h5>GMoney Pvt. Ltd.</h5>
        </div>
        <hr>
        <form>
            <div class="mx-3">
                <div class="row my-3">
                    <div class="col-6 d-flex justify-content-between align-items-center">
                        <label for="nameOfEmployee" class="form-label">Name of Employee : </label>
                        <input type="text" class="form-control" id="nameOfEmployee" placeholder="Enter your name" name="empName" required>
                    </div>
                    <div class="col-6 d-flex justify-content-evenly align-items-center">
                        <label for="issueDate" class="form-label">Issue Date : </label>
                        <input type="date" class="form-control" id="issueDate" name="issueDate" required>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-6 d-flex justify-content-between align-items-center">
                        <label for="employeeCodeNo" class="form-label">Employee Code No : </label>
                        <input type="text" class="form-control" id="employeeCodeNo"
                            placeholder="Enter your employee code" minlength="5" name="empCodeNo" required>
                    </div>
                    <div class="col-6 d-flex justify-content-evenly align-items-center">
                        <label for="issuedBy" class="form-label">Issued By : </label>
                        <input type="text" class="form-control" id="issuedBy" minlength="5" name="issuedBy" required>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-6 d-flex justify-content-evenly align-items-center">
                        <label for="department" class="form-label">Department : </label>
                        <input type="text" class="form-control" id="department" placeholder="Enter your department"
                            minlength="3" name="dept" required>
                    </div>
                    <div class="col-6 d-flex justify-content-evenly align-items-center">
                        <label for="location" class="form-label">Location : </label>
                        <input type="text" class="form-control" id="location" placeholder="Enter your location"
                            minlength="5" name="location" required>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-6 d-flex justify-content-evenly align-items-center">
                        <label for="emailOfEmployee" class="form-label">Email Id : </label>
                        <input type="email" class="form-control" id="emailOfEmployee" placeholder="Enter your email">
                    </div>
                </div>
            </div>
            <hr>
            <div class="text-center">
                <p style="margin-bottom: 0%;"><b>Please find the below assets issued to you to carry out your work
                        responsibilities in proficient manner.
                    </b></p>
            </div>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered table-hover text-center">
                    <thead>
                        <tr>
                            <th>ASSETS</th>
                            <th>SERIAL NUMBER</th>
                            <th>BRAND</th>
                            <th>PROCESSOR</th>
                            <th>SSD/HDD</th>
                            <th>RAM</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LAPTOP</td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>MOUSE</td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>ADAPTER</td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>MOBILE / TAB</td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>HEADPHONE</td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover text-center">
                    <thead>
                        <tr>
                            <th></th>
                            <th>MOBILE NUMBER</th>
                            <th>OPERATER</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SIM CARD</td>
                            <td><input type="number" class="form-control" required></td>
                            <td><input type="text" class="form-control" required></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <p><b>ACKNOWLEDGEMENT AND DECLARATION BY EMPLOYEE</b></p>
            </div>
            <div class="mx-3 text-center mb-3">
                <p>You are expected to protect the assets and maintain the confidentiality of the data therefore. Incase of any
                    loss or damage to the assets you will be responsible for the replacement/ compensate for the same. On being
                    released from the company you are requested to purge all the data and handover the asset to the company HR /
                    IT, hereby acknowledge the above mentioned assets. I assure i will take care of the assets of the company to
                    the best possible extend.
                </p>
            </div>
            <div class="table-responsive ">
                <table class="table table-bordered table-hover text-center">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Assigned To</th>
                            <th>Handover To</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Name</b></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Sign</b></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center mb-3">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>